* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #cde2ff;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-top: 120px;
}

.content {
    padding: 20px;
    margin: 20px;
    background-color: cde2ff;
    border-radius: 5px;
    margin-right: 200px;
    margin-left: 120px;
    margin-top: 50px;
}

.content select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;


}

#job-title {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}

.content h2 {
    color: #333;
    margin-bottom: 50px;
}

.content p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.img {
    display: flex;
    margin-left: 200px;
}



#job-level,
#job-title {
    display: inline-block;
    margin-right: 10px;
}

#search-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1B1A55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #0e0e35;
}